<app-header titulo="Grid - Rows"></app-header>

<ion-content class="ion-padding" fullscreen>
  <ion-grid fixed>
    <!-- <ion-row>
      <ion-col *ngFor="let c of [1,1,1,1,1,1,1,1,1,1,1,1]; let i = index">
        Hola item {{i + 1}}
      </ion-col>
    </ion-row> -->
    <ion-row>
      <ion-col size="12" size-lg="3" size-md="4" size-sm="6" size-xs="12" *ngFor="let c of [1,1,1,1,1,1,1,1,1,1,1,1]">
        <ion-card>
          <ion-img src="/assets/shapes.svg"> </ion-img>
          <ion-card-header>
            <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
            <ion-card-title>Card Title</ion-card-title>
            <ion-card-content>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nesciunt est quisquam, quam
              aliquam culpa iusto. Fuga eum dignissimos maxime, hic sequi pariatur fugiat dolorum dolor porro eaque
              nisi, repellendus voluptate!</ion-card-content>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>