<app-header titulo="Card"></app-header>

<ion-content class="ion-padding">
  <ion-card mode="ios" color="primary">
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item color="primary">
      <ion-icon slot="start" name="pin"></ion-icon>
      <ion-label>Marcador</ion-label>
    </ion-item>
    <ion-card-content>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatibus quas totam, ipsam sunt non asperiores,
      error tempora, odio soluta iste earum ratione id incidunt ipsum autem eaque veniam repellendus assumenda!
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-img src="/assets/shapes.svg"></ion-img>
    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel beatae officiis adipisci quod sit officia
      consectetur! Neque asperiores amet in. Delectus dolore cupiditate corporis ex minus eligendi impedit voluptatum.
      Minus?
    </ion-card-content>
  </ion-card>
</ion-content>